@page
@model DAPM_Nhom16.Pages.Admin.ProfileModel
@{
   ViewData["Title"] = "Profile";
}
<div class="container__content">

    <div class="container_left">
        <h3>Thông Tin Tài Khoản</h3>

        <div class="container__infor">
            <p>Họ và tên</p>
            <input type="text" value="Cao Tuấn Kiệt">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>

        <div class="container__infor">
            <p>Giới tính</p>
            <input type="text" value="Nam">
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="container__infor">
            <p>Năm sinh</p>
            <input type="text" value="">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>

        <div class="container__infor">
            <p>Số điện thoại</p>
            <input type="text">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>

        <div class="container__infor">
            <p>Email</p>
            <input type="text">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>

        <div class="container__infor">
            <p>Mật khẩu</p>
            <input type="text">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>

        <div class="container__infor">
            <p>Địa chỉ</p>
            <div class="infor_location">
                <div class="location__item">

                    <div class="location__item--content">
                        <p>Phường/Xã</p>
                        <span>Chính Gián</span>
                    </div>

                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div class="location__item">
                    <div class="location__item--content">
                        <p>Quận/Huyện</p>
                        <span>Hải Châu</span>
                    </div>

                    <i class="fa-solid fa-chevron-down"></i>

                </div>

                <div class="location__item">
                    <div class="location__item--content">
                        <p>Tỉnh/Thành Phố</p>
                        <span>Đà Nẵng</span>
                    </div>

                    <i class="fa-solid fa-chevron-down"></i>

                </div>
            </div>
        </div>

        <div class="container__btn">
            <button class="btn">Cập Nhật Thông Tin</button>
        </div>


    </div>



    <div class="container__right">
        <img src="~/src_admin/img/dog.jpg" alt="">
    </div>


</div>
