* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100px;
}

li {
    list-style: none;
}

/* HEARD */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.084) 0px 4px 5px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    background-color: white;
}

/* HEARD SEARCH */
.header_search {
    display: flex;
    align-items: center;
    position: relative;
}

    .header_search input {
        margin-left: 65px;
        width: 500px;
        height: 40px;
        border: 0px solid #000;
        border-radius: 5px;
        padding: 0 10px;
        background-color: rgba(160, 160, 160, 0.159);
    }

    .header_search i {
        font-size: 20px;
        position: absolute;
        right: 10px;
    }

/* HEARD INFOR */
.header_infor {
    display: flex;
    align-items: center;
}

.infor_item {
    display: flex;
    margin-left: 30px;
    cursor: pointer;
    align-items: center;
}

    .infor_item i {
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }

    .infor_item p {
        padding-left: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
    }

        .infor_item p:hover {
            color: #565656;
        }

.header_infor .infor_item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header_infor img {
    margin-left: 10px;
    width: 50px;
    height: 30px;
}


/* CONTAINER */
.container {
    display: flex;
    width: 100%;
    padding-top: 90px;
}

.container__sidebar {
    width: 20%;
    border-right: 0.5px solid #d1d1d1;
    height: 110vh;
}

.container__sidebar--logo {
    height: 24%;
    text-align: center;
    margin-top: 10px;
}

    .container__sidebar--logo img {
        width: 200px;
        border-radius: 7px;
    }

.container__sidebar--avt {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    cursor: pointer;
}

    .container__sidebar--avt:hover {
        background-color: #f2f2f2;
    }

    .container__sidebar--avt img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .container__sidebar--avt .avt_text {
        padding-right: 20px;
    }

    .container__sidebar--avt p {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        line-height: 26px;
    }

    .container__sidebar--avt span {
        color: #787878;
    }

.container__sidebar--menu {
    height: 74%;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.menu_list:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu_item {
    display: flex;
    height: 55px;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
}

    .menu_item:hover {
        background-color: #f2f2f2;
    }

    .menu_item i {
        font-size: 25px;
        color: #000;
    }

    .menu_item p {
        padding-left: 15px;
        font-size: 15px;
        font-weight: 400;
        color: #000;
    }

    .menu_item:hover p {
        font-weight: 700;
    }






/* CONTAINER CONTENT */
.container__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.container_left {
    width: 50%;
    padding: 50px 30px;
}

    .container_left h3 {
        font-size: 25px;
        font-weight: 700;
        color: #000;
        padding-bottom: 20px;
    }

    .container_left .container__infor {
        margin: 15px 0;
        position: relative;
    }

.container__infor p {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.container__infor input {
    width: 90%;
    height: 35px;
    border: 1px solid #424242;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 5px;
    background-color: rgba(160, 160, 160, 0.159);
}

.container__infor i {
    position: absolute;
    font-size: 20px;
    color: #464646;
    margin-right: 10px;
    bottom: 8px;
    right: 50px;
}

.infor_location {
    padding-top: 6px;
    display: flex;
}

.location__item {
    padding-right: 70px;
    display: flex;
}

.infor_location .location__item i {
    position: relative;
    right: -10px;
    bottom: -7px;
    font-size: 20px;
    color: #000;
}

.location__item span {
    font-size: 15px;
    color: #5c5c5c;
}

.container__btn {
    margin-top: 50px;
    margin-left: 80px;
}

    .container__btn button {
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: 0px;
        color: rgb(243, 243, 243);
        font-size: 15px;
        font-weight: 500;
        background-color: #660000;
        cursor: pointer;
    }

        .container__btn button:hover {
            opacity: 0.8;
            color: #ffffff;
        }




/* CONTAINER RIGHT */
.container__right {
    width: 50%;
    margin-top: 100px;
}

    .container__right img {
        width: 500px;
        height: 550px;
        border-radius: 10px;
    }































/* FOOTER */
footer {
    border-top: 2px solid #00ff08;
    background-color: #000000d9;
}

.footer__container {
    padding: 25px 100px;
}

.grid__row {
    display: flex;
    justify-content: space-between;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.footer__heading {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(198, 198, 198);
}

.foooter-list {
    padding-left: 0px;
    list-style: none;
}

.footer-item {
    text-align: start;
}

.footer-item__link {
    font-size: 14px;
    color: rgb(173 173 173);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2px 0px;
}


.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0%;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__download-app-img {
    height: 20px;
    margin-top: 4px;
}


.footer__bottom {
    background-color: rgb(73, 73, 73);
    padding: 8px 0px;
}

.grid.wide {
    max-width: 1200px;
    margin: 0px auto;
}

.footer__text {
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0px;
}

i.footer-item__icon.fab {
    padding-right: 4px;
}














.container_QLSP__content {
    width: 80%;
}

.container_QLSP__content--header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #d1d1d1;
}

.content__header--btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #7f7f7f;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 8px;
}

.content__header--btn:hover {
    background-color: #f2f2f2;
}

.content__header--btn p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.content__header--btn i {
    font-size: 20px;
    color: #000;
    padding: 0 0 0 10px;
}

.content__header--btn .content__header--filter {
    padding: 0 10px 0 0px;
}

.content__header--btn .content__header--add {
    padding: 0 10px 0 0px;
}

.content__header--search {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 220px;
}

.content__header--search input {
    width: 400px;
    height: 45px;
    border: 1px solid #d1d1d1;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 8px;
}

.content__header--search input:hover {
    background-color: #fff;
}

.content__header--search input:focus {
    background-color: #fff;
}

.content__header--search i {
    font-size: 20px;
    position: absolute;
    right: 10px;
}

.content__header--btnADD {
    position: absolute;
    right: 20px;
    background-color: rgb(85, 26, 26);
    padding: 13px;
}

.content__header--btnADD:hover {
    background-color: rgb(172, 224, 122);
}

.content__header--btnADD:hover p {
    color: #000;
}

.content__header--btnADD:hover i {
    color: #000;
}

.content__header--btnADD p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.content__header--btnADD i {
    font-size: 20px;
    color: #fff;
}

/* container_QLSP CONTENT BODY header */
.content__body--header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    margin: 24px 20px 4px;
}

.content__body--header--item {
    margin-right: 20px;
    margin-left: 20px;
}

.content__body--header--item p {
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.header__item--iconCheck {
    margin: 0 6px 0 3px;
}

.header__item--iconCheck input {
    width: 20px;
    height: 20px;
    color: #000;
    cursor: pointer;
}


/* container_QLSP CONTENT BODY */
.content__body--list {
    max-height: 730px;
    overflow: scroll;
}

.content__body--item {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #f3cecead;
    position: relative;
    margin: 15px 0;
}

.content__body--item:hover {
    background-color: #f2f2f2;
}

.content__body--item p {
    font-size: 17px;
    font-weight: 500;
    color: #000;
}

.header__item--name {
    margin-left: 52px;
}

.header__item--price {
    margin-left: 84px;
}

.header__item--quantity {
    margin-left: 84px;
}

.header__item--decr {
    margin-left: 65px;
}

.content__body--item .body__item--check {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 5px;
}

.content__body--item .body__item--stt {
    margin-right: 50px;
    margin-left: 14px;
}

.content__body--item .body__item--title {
    margin-right: 50px;
    margin-left: 50px;
}

.content__body--item .body__item--price {
    margin-right: 50px;
}

.content__body--item .body__item--quantity {
    margin-right: 20px;
}

.content__body--item .body__item--decr {
    width: 250px;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    right: 20px;
}

.content__body--item .body__item--manu {
    margin-right: 20px;
    margin-left: 62px;
}

